

*   One of the built-in data types in Python other than Tuple, Dictionary and Set.
*   Used to store multiple values in a single variable.

* makes the code shorter by many lines since the system will allocate the list's memory first and not resize 'n' no. of elements at runtime.

* are created using square brackets with elements separated with commas

In [ ]:
mylist=["robot","human","cobo"]
print(mylist)

['robot', 'human', 'cobo']

* the most important thing to not in lists is that they can be indexed, values can be changed, ordered (the new items will be added to the end of the list )and allow duplicate values.
* len() can be used to determine the length of the list
* Lists supports all data types

In [ ]:
print(len(mylist))

3

lists are classified as objects of data type list

In [ ]:
print(type(mylist))

<class 'list'>

* new lists can be generated using list() constructor where you can drop the items separated by commas and subsequently print the list

In [ ]:
newlist=list(("human","robot","cobo"))
print(newlist)

['human', 'robot', 'cobo']

Differences between Python Collections(Arrays)
* Lists :

>> Ordered 

>> Changeable

>> Allows duplicate

* Tuple:

>> Ordered

>> Unchangeable

>> Allows duplicate

* Set:

>>Unordered

>>Unindexed

>>Doesn't allow duplicate

* Dictionary

>>Unordered

>>Changeable

>>Doesn't allow duplicate

Access items:
through Indexes

In [ ]:
print(mylist[0])

robot

Negative indexing : [-1] denotes the last item , [-2] the second last and the sequence goes on ..

In [ ]:
print(mylist[-1])

cobo

indexing can also be in range , for example [2:5] where the list starts with 3rd item and ends on 5th item , the 6th item, i.e. at 5th index is not included

In [ ]:
print(mylist[0:2])

['robot', 'human']