

*   One of the built-in data types in Python other than Tuple, Dictionary and Set.
*   Used to store multiple values in a single variable.

* makes the code shorter by many lines since the system will allocate the list's memory first and not resize 'n' no. of elements at runtime.

* are created using square brackets with elements separated with commas

In [2]:
mylist=["robot","human","cobo"]
print(mylist)

['robot', 'human', 'cobo']

* the most important thing to not in lists is that they can be indexed, values can be changed, ordered (the new items will be added to the end of the list )and allow duplicate values.
* len() can be used to determine the length of the list
* Lists supports all data types

In [3]:
print(len(mylist))

3

lists are classified as objects of data type list

In [ ]:
print(type(mylist))

<class 'list'>

* new lists can be generated using list() constructor where you can drop the items separated by commas and subsequently print the list

In [4]:
newlist=list(("human","robot","cobo"))
print(newlist)

['human', 'robot', 'cobo']

Differences between Python Collections(Arrays)
* Lists :

>> Ordered 

>> Changeable

>> Allows duplicate

* Tuple:

>> Ordered

>> Unchangeable

>> Allows duplicate

* Set:

>>Unordered

>>Unindexed

>>Doesn't allow duplicate

* Dictionary

>>Unordered

>>Changeable

>>Doesn't allow duplicate

Access items:
through Indexes

In [ ]:
print(mylist[0])

robot

Negative indexing : [-1] denotes the last item , [-2] the second last and the sequence goes on ..

In [ ]:
print(mylist[-1])

cobo

indexing can also be in range , for example [2:5] where the list starts with 3rd item and ends on 5th item , the 6th item, i.e. at 5th index is not included

In [ ]:
print(mylist[0:2])

['robot', 'human']

When we use [:2] it doesn't include the item at the index 2 or the number mentioned in your list but every item from the beginning to the index previous to the number mentioned

In [7]:
print(mylist[:2])

['robot', 'human']

When we use [1:] it takes into account the item from index 1 till the end of the list

In [8]:
print(mylist[1:])

['human', 'cobo']

similarly in this case the expression[-3:-2] returns the items from index -3 i.e. 3rd from the last and excluding the 2nd from the last which in our case leaves us with only one element which is robot

In [9]:
print(mylist[-3:-2])

['robot']

Checking if the item exists in our list or not?

In [10]:
if "robot" in mylist:
  print("yes robot is present")

yes robot is present

In [14]:
if "robot1" in mylist:
  print("yes robot1 is present")
else:
  print("no it is not present")

no it is not present

Changing the values of the items, we can directly put in the index with the updated value

In [16]:
mylist[1]="half human"
print(mylist)

['robot', 'half human', 'cobo']

changing the items in the range of values

In [39]:
mylist[3:6]=["watermelon","currant","jelly","jello"]

naturally when there is no item at a certain index then it will return empty list

In [43]:
print(mylist[8:])

[]

the previous examples work with the strategy of overwriting the previous records and giving the index a new value but by using the insert() method we can insert new values in the desired place and the list will move accordingly keeping the prevoius values as well.

In [44]:
mylist.insert(2,"manbgo")

In [45]:
print(mylist)

['robot', 'half human', 'manbgo', 'cobo', 'watermelon', 'currant', 'jelly', 'jello', 'jello']

by using the append() method we can insert a new item at the end of the list

In [46]:
mylist.append("cherry")
print(mylist)

['robot', 'half human', 'manbgo', 'cobo', 'watermelon', 'currant', 'jelly', 'jello', 'jello', 'cherry']

by using the extend() method we can append items from another list/tuple/sets/dictionaries to our first list

In [51]:
list2=["banana","papapya","grapes"]

In [56]:

mylist.remove("banana")

In [57]:
print(mylist)

['robot', 'half human', 'manbgo', 'cobo', 'watermelon', 'currant', 'jelly', 'jello', 'jello', 'cherry', 'papapya', 'grapes', 'papapya', 'grapes', 'banana', 'papapya', 'grapes']